.hero {
  margin: 0 auto;
  max-width: 1600px;
  width: 100%;
  position: relative;
  height: 70vh;

  &::before {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(47, 48, 58, 0.6);
  }

  .slick-slide {
    max-height: 70vh;
  }

  &__slider-item {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 1600px;
    width: 100%;
    height: 70vh;

  }

  &__content {
    position: absolute;
    z-index: 4;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 700px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #FFFFFF;
  }

  &__title {
    width: 100%;
    line-height: 1.4;
    text-transform: uppercase;
    font-size: 44px;
    font-weight: 700;
    letter-spacing: 0.06em;
    margin-bottom: 30px;
  }
}