.footer {
  background-color: #070303;
  line-height: 1.73;
  padding: 64px 0 60px;

  &__container {
    display: flex;
  }

  &__list {
    display: flex;
  }

  &__logo {
    margin-bottom: 22px;

    &:active {
      box-shadow: inset 3px 3px 8px rgb(255, 255, 255);
    }
  }

  &__address {
    color: #FFFFFF;
    margin-bottom: 19px;
  }

  &__inner {
    margin-right: 51px;
  }

  &__subtitle {
    display: inline-block;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 9px;
  }

  &__contacts-list {
    display: flex;
    flex-direction: column;
    gap: 9px;
  }

  &__contacts-link {
    color: $light-orange;
    transition: color 0.4s;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 4px 4px 8px;

    &:focus {
      border-color: $orange;
    }

    &:hover {
      color: $orange;
    }

    &:active {
      color: rgba($light-orange, 0.6);
    }
  }

  &__social-wrapper {
    margin-right: 93px;
  }

}