<header class="header">

  <div class="container header__container">
    <nav class="header__menu">
      <a href="index.html" class="logo header__logo">
        <img width="189" height="36" src="images/logo/logo.svg" alt="logo DolGuldur" class="logo__img">
      </a>

      <ul class="header__list">
        <li class="header__item">
          <a href="index.html" class="header__link @@currentHome">Home</a>
        </li>
        <li class="header__item">
          <a href="works.html" class="header__link @@currentWorks">Our Works</a>
        </li>
        <li class="header__item">
          <a href="#" class="header__link @@currentContacts">Contacts</a>
        </li>
      </ul>
    </nav>

    <ul class="header__contacts-list">
      <li class="header__contacts-item">
        <a href="maito:info@dolguldur.com" class="header__contacts-link">
          <svg class="icon" width="16" height="16">
            <use href="./images/sprite.svg#icon-email"></use>
          </svg>
          info@dolguldur.com
        </a>
      </li>
      <li class="header__contacts-item">
        <a href="tel:+380961111111" class="header__contacts-link">
          <svg class="icon" width="16" height="16">
            <use href="./images/sprite.svg#icon-smartphone"></use>
          </svg>
          +38 096 111 11 11
        </a>
      </li>
    </ul>
  </div>
</header>