<ul class="social social--@@dark">
  <li class="social__item">
    <a href="@@instagram-link" class="social__link" target="_blank">
      <span class="sr-only">instagram @@user-name</span>
      <svg class="icon" width="20" height="20">
        <use href="./images/sprite.svg#icon-instagram"></use>
      </svg>
    </a>
  </li>
  <li class="social__item">
    <a href="@@twitter-link" class="social__link" target="_blank">
      <span class="sr-only">twitter @@user-name</span>
      <svg class="icon" width="20" height="20">
        <use href="./images/sprite.svg#icon-twitter"></use>
      </svg>
    </a>
  </li>
  <li class="social__item">
    <a href="@@facebook-link" class="social__link" target="_blank">
      <span class="sr-only">facebook @@user-name</span>
      <svg class="icon" width="20" height="20">
        <use href="./images/sprite.svg#icon-facebook"></use>
      </svg>
    </a>
  </li>
  <li class="social__item">
    <a href="@@linkedin-link" class="social__link" target="_blank">
      <span class="sr-only">linkedin @@user-name</span>
      <svg class="icon" width="20" height="20">
        <use href="./images/sprite.svg#icon-linkedin"></use>
      </svg>
    </a>
  </li>
</ul>